.formContainer {
}

.formContainerTopRow {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.date {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.date, .genres, .price {
  padding: 15px;
}

.date, .genres {
}
