{
  "extends": "airbnb",
  "rules": {
    "jsx-quotes": 0,
    "strict": [0, "global"],
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "no-param-reassign": ["error", { "props": false }],
    "arrow-parens": ["error", "always"],
    "react/prop-types": [0, { ignore: width }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
  },
}
