{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "rules": {
    "no-class-assign": 0,
    "no-shadow": 0,
    "arrow-body-style": [0, "always"],
    "max-len": 0,
    "semi": 2,
    "jsx-quotes": 0,
    "strict": [0, "global"],
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/forbid-prop-types": 0,
    "no-param-reassign": ["error", { "props": false }],
    "arrow-parens": ["error", "always"],
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true,
  },
}
