.App {
  text-align: center;
}

/*composes: foo;*/

body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: grey;
  padding: 0;
}

.headerElement {
  composes: header;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  color: white;
}
