.subtitle {
  display: inline-block;
  padding-left: 10px;
  color: black;
  font-family: 'GillSans-Light';
  border-bottom: 1px solid #f3e000;
}

.containerSlider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
